body {
    background-image: url("../images/ST_BG2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
    font-family: 'Oxanium';
    color:white;
    margin: 0%;
}

/* WORD GUESS TITLE -------------------------*/
#azButton  {
    font-family: 'Oxanium';
    font-size: 20px;
    background-color: black;
    color:#23CDF2;
    border: 1px solid #23CDF2;
    border-radius: 5px;
    box-shadow: 0 0 5px #F8A2D4;
    background-color: black;
    justify-self: center;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    justify-self: center;
}


#title-box {
    font-family: 'Oxanium';
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 5% 0% 0% 0%;

    -webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
    animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

#the-title {
    justify-self: center;
    font-size: 55px;
    color:rgb(88, 16, 5);
    text-shadow: 0 0 40px #D02116;
    -webkit-text-stroke: 2px #D02116;
}

/* SCORE BOX ---------------------------------- */
#score-box {
    font-family: 'Oxanium';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    
}

#guesses-left-box, #letters-guessed-box {
    color: white;
    font-size: 20px;
    text-shadow: 0 0 10px #FB3287;
    border: 3px solid #FB3287;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #F8A2D4,
                0 0 5px #F8A2D4;
    background-color: black;
    justify-self: center;
    padding: 10%;
    min-width: 150px;
}
/* ----------------------------------------- */


/* START / RESET BUTTON -------------------- */
#button-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 5%;
}

#resetButton {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 5%;
    padding: 20px;
    font-family: 'Oxanium';
    font-size: 25px;
    color: white;
    background-color: black;
    border: 3px solid #23CDF2;
    border-radius: 4px;
    box-shadow: inset 0 0 5px #D8EDF4,
                0 0 5px #D8EDF4;
                -webkit-animation: glow 1s ease-in-out infinite alternate;
                -moz-animation: glow 1s ease-in-out infinite alternate;
                animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #23CDF2, 0 0 30px #23CDF2, 0 0 40px #23CDF2, 0 0 50px #23CDF2, 0 0 60px #23CDF2, 0 0 70px #23CDF2;
    }
  }
/* ----------------------------------------- */
#you-win-box {
    display: grid;
    grid-template-columns: 1fr;
}

#you-win {
    color: white;
    text-shadow: 0 0 40px #23CDF2;
    font-size: 10vh;
    justify-content: center;
    justify-self: center;
    padding: 10px;
    -webkit-text-stroke: 2px black;
}
  

#random-word-box {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}


#randomWord {
    font-size: 3em;
    letter-spacing: 0.9vh;
    font-family: 'Oxanium';
    justify-self: center;
    padding: 5%;
    background-color: black;
    border-radius: 5px;
    border: 5px solid #23CDF2;
    box-shadow: inset 0 0 10px #CFF3FD,
                0 0 5px #CFF3FD;

}

#guesses-left-box {
    display: grid;
    grid-template-columns: 1fr;
}

#all-guesses {
    font-size: 30px;
    letter-spacing: 0.9em;
    font-family: 'Oxanium';
    margin-bottom: 5%;
}

#guesses {
    font-family: 'Oxanium';
    justify-self: center;
    font-size: 50px;
    color: #FB3287;
}


#music-controller{
    color: white;
    background-color: black;
}

#music-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    border: 1px solid #FB3287;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #F8A2D4,
                0 0 5px #F8A2D4;
    max-width: 100px;    
    justify-self: center;
    /* position: absolute;
    right: 100px; */
}

#music-player, #pause-player {
    font-size: 30px;
    width: 50px;
    background-color: rgba(76, 175, 80, 0.0);
    color: #FB3287;
    border: none;
    justify-self: center;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 360px) {

  }