body {
    background-color: #000000;
    color: white;
}

#main-img {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

img {
    width: 50vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

h1 {
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
    padding: 20px;
}

#button-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 5%;
}

#resetButton {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color: white;
    padding: 20px;
    font-family: 'IM Fell English SC', serif;
    font-size: 25px;
    color: red;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
}

#intro-text, #text-container, #music-player {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#randomWord {
    font-size: 50px;
    letter-spacing: 0.9em;
    font-family: 'IM Fell English SC', serif;
}

#all-guesses {
    font-size: 30px;
    letter-spacing: 0.9em;
    font-family: 'IM Fell English SC', serif;
    margin-bottom: 5%;
}

#guesses {
    font-family: 'IM Fell English SC', serif;
    justify-self: center;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 40px;
    color: red;
}

#guesses-left-text {
    margin-top: 5%;
}

#music-controller{
    color: white;
    background-color: black;
}

#music-player, #pause-player {
    font-size: 30px;
    width: 50px;
    background-color: black;
    color: red;
    border: none;
}

#music-div {
    display: grid;
    grid-template-columns: 1fr;


}